# Ignore all PDF files
*.pdf


# Ignore course introduction materials
00_Course Introduction/


# virtual environment
venv/


# Python cache
__pycache__/
*.py[cod]


# Excluded files with data cheat sheets
data_cheat_1.png
data_cheat_2.png
data_cheat_3.png


# Excluded .csv files to prevent accidental commits of large datasets
*.csv